{% if user is defined and user %}
    <a href="{{ path('l91_sulu_website_user.logout', request.routeParameters) }}">Logout</a>
    <a href="{{ path('l91_sulu_website_user.profile', request.routeParameters) }}">{{ user.username }}</a>
{% else %}
    <form action="{{ path('l91_sulu_website_user.login', request.routeParameters) }}" method="post">
        <input type="text" id="username" name="_username" value="" placeholder="Username" />
        <input type="password" id="password" name="_password" placeholder="Password" />
        <input type="submit" value="Login" />
    </form>
{% endif %}
