{% extends "BlackriverWebsiteBundle:views:master.html.twig" %}
{% block content %}
    {% if (app.request.get('send') == 'true') %}
        Password reset!<br/>
        <a href="{{ path('l91_sulu_website_user.login',{'host': request.portalUrl, 'prefix': ''}) }}">
            Login
        </a>
    {% else %}
        {{ form(form) }}
    {% endif %}
{% endblock %}
