{% extends "BlackriverWebsiteBundle:views:master.html.twig" %}
{% block content %}
    {% if (app.request.get('send') == 'true') %}
        Password reset!<br/>
        <a href="{{ path(request.portalUrl ~ '.l91_sulu_website_user.login') }}">
            Login
        </a>
    {% else %}
        {{ form(form) }}
    {% endif %}
{% endblock %}
