{% set attributes = request.routeParameters|merge({'token': user.passwordResetToken}) %}
{% set passwordForgetUrl = app.request.schemeAndHttpHost ~ path('l91_sulu_website_user.password_reset', attributes) %}

<a href="{{ passwordForgetUrl }}">
    {{ passwordForgetUrl }}
</a>
