{% set passwordForgetUrl = app.request.schemeAndHttpHost ~ path(request.portalUrl ~ '.l91_sulu_website_user.password_reset', {'token': user.passwordResetToken}) %}

<a href="{{ passwordForgetUrl }}">
    {{ passwordForgetUrl }}
</a>
