{% set passwordForgetUrl = app.request.schemeAndHttpHost ~ path('l91_sulu_website_user.password_reset', request.routeParameters) %}

<a href="{{ passwordForgetUrl }}">
    {{ passwordForgetUrl }}
</a>
