{% set confirmationUrl = app.request.schemeAndHttpHost ~ path('l91_sulu_website_user.registration',{'host': request.portalUrl, 'prefix': ''}) %}

<a href="{{ confirmationUrl }}">
    {{ confirmationUrl }}
</a>
